.sec{
    background: url(img/pic1.jpg) no-repeat;
    color:whitesmoke;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.wra{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.wra h1 {
	font-size: 2.4rem;
	text-align: center;
}
.code{
    text-align: center;
}
.code .post_code {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline:none;
}
.code button {
	width: 40%;
	text-align: center;
	background-color: #00bab1;
	color: white;
	padding: .6rem;
	margin:1rem auto 0rem;
	border: none;
	border-radius: .3rem;
}
.wra span {
	width: 10%;
	text-align: center;
	background-color: #00bab1;
	color: white;
	padding: .6rem;
	margin:1rem auto 0rem;
	border: none;
	border-radius: .3rem;
}
.wra span {
	margin-left: 5rem;
	display: inline-block;
	margin-bottom: .5rem;
}
*{
    padding: 0px;
    margin: 0px;

}


.wr{
    width: 960px;
    margin: 0 auto;
}
p{
    text-align: justify;
}

img{
    width: 300px;
    height: 180px;
}
.box{
    width: 300px;
    float: left;
    margin-left: 10px;
    padding-top: 10px;
}

h2{
    background-color: brown;
    text-align: center;
}

a{
    background-color: coral;
    margin-top:  0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 3px 0;
}
a:hover{
    background-color: cornflowerblue;
    color: ghostwhite;
}
.product:first-of-type {
	margin-left: 0;
}